{% extends 'base.html' %}

{% block content%}

{%for group in all_groups%}
    {{group}}
{%endfor%}

<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4 ">Admin Dashboard</h1>
            <hr class="my-4">
            <h2>Pending Requests</h2>
            <table class="table table-hover table-bordered" id="dev-table">
                <thead>
                    <tr>
                        <th>Exam ID</th>
                        <th>Teacher Name</th>
                        <th>Subject</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if exams %} {% for exam in exams %}
                    <tr>
                        <td>{{ exam.id }}</td>
                        <td>{{ exam.teacher }}</td>
                        <td>{{ exam.subject }}</td>
                        <td>{{ exam.start_time }}</td>
                        <td>{{ exam.end_time }}</td>
                        <td>
                            {% if exam.approved %}
                            Approved
                            {% elif exam.cancelled %}
                            Cancelled
                            {% else %}
                            Pending Approval
                            {% endif %}
                        </td>
                        <td>
                            {% if not exam.approved %}
                            <form action="{% url 'approve_exam' exam.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Approve</button>
                            </form>
                            {% endif %}
                            {% if not exam.cancelled %}
                            <form action="{% url 'cancel_exam' exam.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Cancel</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %} {% else %}
                        <p class='text-danger'>No requests found.</p>
                    {% endif %}
                </tbody>
            </table>
            <br>
            
            <hr class="my-4">
            <h2>Outcome of Student Exams</h2>
            <table class="table table-hover table-bordered" id="dev-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Exam</th>
                        <th>Score</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if attempts %} {% for attempt in attempts %}
                    <tr>
                        <td>{{ attempt.student.get_full_name }}</td>
                        <td>{{ attempt.exam }}</td>
                        <td>{{ attempt.score }}</td>
                        <td>
                            <a
                                class="btn btn-success btn-sm"
                                href="{%url 'check_exam' attempt.exam.id %}">
                                <span class="glyphicon glyphicon-check"></span>
                                Review
                            </a>
                        </td>
                    </tr>
                    {% endfor %} {% else %}
                        <p class='text-danger'>No requests found.</p>
                    {% endif %}
                </tbody>
            </table>
            <hr class="my-4">
            <h2>Assign Roles User</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Assign</button>
            </form>
</div>
{% endblock content%}