{% extends 'base.html' %} 

{% block content%}

<div class="container">
  <div class="col-md-10 offset-md-1 mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Check Exam Marks</h1>
      <hr class="my-4">
      <table class="table table-hover table-bordered" id="dev-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Question</th>
                <th>Score</th>
                <th>Correct / Incorrect</th>
              </tr>
            </thead>
            {% for t in attempted_questions %}
            <tr>
              <td>{{forloop.counter}}</td>
              <td>{{t}}</td>
              <td>{{ t.question.score }}</td>
              {% if t.is_correct %}
                <td>Correct</td>
              {% else %}
                <td>Incorrect</td>
              {% endif %}
            </tr>
            {% endfor %}
          </table>
          <h1 class="text-right">Total Marks: {{attempt_score.score}}</h1>
    </div>  
  </div>
</div>

{% endblock content%}
