{% extends 'base.html' %} {% block content%}
<div class="container">
  <div class="col-md-10 offset-md-1 mt-5">
    <div class="jumbotron">
      <h2 class="container display-3 text-info text-center">Online Examination System</h2>
      <hr class="my-4" />
      <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
        <div class="container text-center">
          <p class="display-4 d-none d-sm-block">Attend your examinations online!</p>
          <p class="lead">Sign Up now to start your first online examination</p>

        
          <p><strong> Start Your Journey Here:</strong></p>
          <a href="signup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign Up</a>
          
          <br><br><br>
        </div>  
      </section>
    </div>
  </div>
</div>

{% endblock content%}
