{% extends 'base.html' %} 
{% block content%}
<div class="container">
  <div class="col-md-10 offset-md-1 mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Examination Registeration</h1>
      <h1 class="display-5">Enter Credentials by your Role</h1>
      <hr class="my-4" />
      <h2>Log In</h2>
      <form method="post" action=".">
        {% csrf_token %}
        <div class="mb-3">
          <label for="username" class="form-label">User Name</label>
          <input
            type="username"
            class="form-control"
            id="username"
            name="username"
            aria-describedby="username"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        {{error}}
      </form>
    </div>
  </div>
</div>

{% endblock content%}
