{% extends 'base.html' %}

{% block content%}

{{request.POST}}
{% for obj in attempt %}
{{obj.score}}
{% endfor %}

<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron my-4">
            {% for obj in page_obj %}
            <h2 style="text-align: center;">Exam: {{obj.question.exam}}</h2>
            {% endfor %}
            <form class="form" method="POST">
                {% csrf_token %}
                {% for obj in page_obj %}
                <h3 class="text-danger">Question{{ obj.id }}: {{ obj }}</h3>
                <input type="hidden" name="question_id" value="{{ obj.id }}">
                <h4 style="text-align: left;">[{{ obj.question.score}} Marks]</h4>
                {% endfor %}

                {% for obj in page_obj %}
                <div class="form-check mx-4">
                    <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ obj.option1 }}"
                        value="1">
                    <label class="form-check-label" for="option1">
                        {{ obj.option1 }}
                    </label>
                </div>
                {% endfor %}

                {% for obj in page_obj %}
                <div class="form-check mx-4">
                    <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ obj.option2 }}"
                        value="2">
                    <label class="form-check-label" for="option2">
                        {{ obj.option2 }}
                    </label>
                </div>
                {% endfor %}

                {% for obj in page_obj %}
                <div class="form-check mx-4">
                    <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ obj.option3 }}"
                        value="3">
                    <label class="form-check-label" for="option3">
                        {{ obj.option3 }}
                    </label>
                </div>
                {% endfor %}

                {% for obj in page_obj %}
                <div class="form-check mx-4">
                    <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="{{ obj.option4 }}"
                        value="4">
                    <label class="form-check-label" for="option4">
                        {{ obj.option4 }}
                    </label>
                </div>
                {{ obj.answer }}
                {% endfor %}
                <br>
                <div class="pagination">
                    <span class="step-links">
                        <span class="current-page">
                            Question {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
                        {% endif %}
                    </span>
                </div>
                <br>
                <input class="btn btn-success btn-lg" style="border-radius: 0%;" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock content%}